.magnifier {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.magnifier-image {
	cursor: none;
}

.magnifying-glass {
	position: absolute;
	z-index: 1;
	background: #e5e5e5 no-repeat; // Use opaque background to hide main image when using an offset
	border: solid #ebebeb;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	opacity: 0; // Needed for transition
	transition: opacity 0.3s;
	pointer-events: none;

	&.circle {
		border-radius: 50%;
	}

	&.visible {
		opacity: 1; // Needed for transition
	}
}
